<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>loginRegister.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>loginRegister.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookMessageServlet</servlet-name>
        <servlet-class>lookMessage.LookMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMessageServlet</servlet-name>
        <servlet-class>lookMessage.UpdateMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>lookMessage.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookFriendServlet</servlet-name>
        <servlet-class>friendManager.LookFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendServlet</servlet-name>
        <servlet-class>friendManager.AddFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFriendServlet</servlet-name>
        <servlet-class>friendManager.UpdateFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFriendMessageServlet</servlet-name>
        <servlet-class>friendManager.UpdateFriendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <servlet-class>friendManager.DeleteFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookDateServlet</servlet-name>
        <servlet-class>dateManager.LookDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDateServlet</servlet-name>
        <servlet-class>dateManager.AddDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDateServlet</servlet-name>
        <servlet-class>dateManager.UpdateDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDateServlet</servlet-name>
        <servlet-class>dateManager.DeleteDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpServlet</servlet-name>
        <servlet-class>fileManager.FileUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownServlet</servlet-name>
        <servlet-class>fileManager.FileDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileServlet</servlet-name>
        <servlet-class>fileManager.DeleteFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookFileServlet</servlet-name>
        <servlet-class>fileManager.LookFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookDownServlet</servlet-name>
        <servlet-class>fileManager.LookDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePurchaseServlet</servlet-name>
        <servlet-class>purchase.UpdatePurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelPurchaseServlet</servlet-name>
        <servlet-class>purchase.DelPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPurchaseServlet</servlet-name>
        <servlet-class>purchase.AddPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookPurchaseServlet</servlet-name>
        <servlet-class>purchase.LookPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignalPurchaseServlet</servlet-name>
        <servlet-class>purchase.SignalPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookSaleServlet</servlet-name>
        <servlet-class>sale.LookSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignalSaleServlet</servlet-name>
        <servlet-class>sale.SignalSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSaleServlet</servlet-name>
        <servlet-class>sale.UpdateSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelSaleServlet</servlet-name>
        <servlet-class>sale.DelSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSaleServlet</servlet-name>
        <servlet-class>sale.AddSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStaffServlet</servlet-name>
        <servlet-class>StaffManager.deleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffServlet</servlet-name>
        <servlet-class>StaffManager.EditStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMessageServlet</servlet-name>
        <servlet-class>StaffManager.EditMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>StaffManager.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>DepartmentManager.RemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>DepartmentManager.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelServlet</servlet-name>
        <servlet-class>resource.DelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>resource.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpServlet</servlet-name>
        <servlet-class>resource.UpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnboundServlet</servlet-name>
        <servlet-class>UnboundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnboundServlet</servlet-name>
        <url-pattern>/UnboundServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookMessageServlet</servlet-name>
        <url-pattern>/LookMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMessageServlet</servlet-name>
        <url-pattern>/UpdateMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookFriendServlet</servlet-name>
        <url-pattern>/LookFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendServlet</servlet-name>
        <url-pattern>/AddFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFriendServlet</servlet-name>
        <url-pattern>/UpdateFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFriendMessageServlet</servlet-name>
        <url-pattern>/UpdateFriendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFriendServlet</servlet-name>
        <url-pattern>/DeleteFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookDateServlet</servlet-name>
        <url-pattern>/LookDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDateServlet</servlet-name>
        <url-pattern>/AddDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDateServlet</servlet-name>
        <url-pattern>/UpdateDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDateServlet</servlet-name>
        <url-pattern>/DeleteDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpServlet</servlet-name>
        <url-pattern>/FileUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownServlet</servlet-name>
        <url-pattern>/FileDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileServlet</servlet-name>
        <url-pattern>/DeleteFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookDownServlet</servlet-name>
        <url-pattern>/LookDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookFileServlet</servlet-name>
        <url-pattern>/LookFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePurchaseServlet</servlet-name>
        <url-pattern>/UpdatePurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookPurchaseServlet</servlet-name>
        <url-pattern>/LookPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignalPurchaseServlet</servlet-name>
        <url-pattern>/SignalPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelPurchaseServlet</servlet-name>
        <url-pattern>/DelPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookSaleServlet</servlet-name>
        <url-pattern>/LookSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignalSaleServlet</servlet-name>
        <url-pattern>/SignalSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPurchaseServlet</servlet-name>
        <url-pattern>/AddPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSaleServlet</servlet-name>
        <url-pattern>/UpdateSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelSaleServlet</servlet-name>
        <url-pattern>/DelSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSaleServlet</servlet-name>
        <url-pattern>/AddSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaffServlet</servlet-name>
        <url-pattern>/deleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffServlet</servlet-name>
        <url-pattern>/EditStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMessageServlet</servlet-name>
        <url-pattern>/EditMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/RemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelServlet</servlet-name>
        <url-pattern>/DelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/FileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpServlet</servlet-name>
        <url-pattern>/UpServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
